---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Resuelve dudas de programación",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Aprende a diseñar tu CV",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Comparte tus proyectos y prácticas",
    icon: "bx:bxs-data",
  },
  {
    title: "Desarrolla habilidades y aprende",
    icon: "bx:bxs-bot",
  },
  {
    title: "Encuentra trabajo de acuerdo a tu perfil",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Comparte tu experiencia con otros estudiantes",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todo lo que necesitas para aprender a programar
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Maxister está entrenado para ayudarte en cada etapa de tu formación.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
